{% extends "base.html" %}

{% block content %}

    {% include 'banner_page.html' with page_title="project" %}
    
    <div class="container cry-section cry-section-contact">
        <div class="container-inside">
            <div class="col-12">
                <h1>contact</h1>
            </div>
            <div class="col-6">
                <div class="col-6-left">
                    <img class="filter-grayscale" width="100%" src="/static/img/call.gif">
                </div>
            </div>
            <div class="col-6">
                <div class="col-6-right">
                    other than in the list are fake, it's gonna take 1 - 3 days to reply your e-mail
                    <ul>
                        <li><a href="https://d.ba-ka.org">discord</a></li>
                        <li><a href="mailto:x@ba-ka.org">e-mail</a></li>
                        <li><a href="https://ah0.ba-ka.org/user/cryw0rks">ah0 project</a></li>
                        <li><a href="https://github.com/cryw0rks">github</a></li>
                    </ul>
                    <br>
                    hours open
                    <ul>
                        <li>monday - friday: open when i'm in front of my laptop</li>
                        <li>saturday & sunday closed :( gaming times yo! but if there urgent things i'm gonna working on it!! aye aye captain!</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}