{% extends "base.html" %}

{% block content %}

{% include 'banner.html' %}

<div class="container cry-section cry-section-about">
    <div class="container-inside">
        <div class="col-12">
            <h1>getting started</h1>
        </div>
        <div class="col-12">
            <p>Welcome to cryw0rks Website, We are street vendors specialist Web Dev (Wordpress, PHP), Web Design and Game Dev (Roblox Studio), Interested working with us? <a href="/contact">Contact us now</a> :) We gonna try the best to serve you with <a href="/service">our service</a></p>
            <p>we are cool and edgy developer i guess <span class="filter-grayscale">&#128074;</span><span class="filter-grayscale">&#128526;</span></p>
            <p>hmmm what is cryw0rks? cryw0rks is cry and works, behind of this name is hmmm.. idk.. cryingg <span class="filter-grayscale">&#128557;</span></p>
            <p>anyway thanks to <a href="https://unsplash.com/photos/s9ESRUFnKDg">@mojaghrout</a>, <a href="https://unsplash.com/photos/5L0R8ZqPZHk">@brett_jordan</a>, <a href="https://unsplash.com/photos/qTlbO6mkQH0">@graciadharmaa</a>, <a href="https://www.djangoproject.com/">django framework</a> and <a href="https://fontawesome.com/">Font Awesome</a> for make this site cool!!</p>
            <p>btw this site is open-source, check out <a href="https://github.com/cryw0rks/website">here</a></p>
        </div>
    </div>
</div>

{% include 'service_list.html' %}

{% include 'project_list.html' with show_view_all=True %}

{% endblock %}